*{
    padding: 0;
    margin: 0;
    font-family: 'Big Shoulders Text', cursive;
}
body{
    background: #fbfad3;
}
.container-grid{
    display: grid;
    grid-template-columns: 5% repeat(4, 1fr) 5%;
    grid-template-rows: auto;
}

/* HEADER */

header{
    width: 100%;
    height: 60vh;
    background: url(../img/beautiful-country-daylight-414061.jpg);
    background-position: center;
    background-size: cover;
}
header h1{
    color: #fff;
    position: absolute;
    font-size: 2rem;
    top: 1em;
    left: 1em;
}
header p{
    color: white;
    position: absolute;
    top: 5.5em;
    left: 2.6em;
    font-size: 0.8rem;
}

/* NAVBAR */

nav{
    background: #7abd53;
}
.nav-list ul{
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: center;
    
}
.nav-list ul li{
    padding: 1rem 1.5rem;
    
}
.nav-list ul li a{
    text-decoration: none;
    color: #254d16;
}
.nav-list ul li:hover{
    background: #3d771c;
}

/* MAIN */

.main{
    /* grid-template-areas: main; */
    grid-column: 2/6;
    margin-top: 1em;
    margin-bottom: 1em;
}
.main h2{
    color: #254d16;
}
.main p{
    font-size: 0.9rem;
    text-align: justify;
}

/* ARTICLE */

.article-01,
.article-02,
.article-03,
.article-04{
    grid-column: 2/ span 4;
}
.article-01 img,
.article-02 img,
.article-03 img,
.article-04 img{
    width: 100%;
    height: 12.5rem;
    margin-bottom: 1em;    
}
.article-01 h3,
.article-02 h3,
.article-03 h3,
.article-04 h3{
    color: #7abd53;
    font-size: 1.4rem;
    text-align: center;
    margin-bottom: 1em;
}
.article-01 p,
.article-02 p,
.article-03 p,
.article-04 p{
    text-align: justify;
    margin-bottom: 1em;
}

/* FORM */

.container-grid form{
    grid-column: 2/6;
}
.container-grid form h4{
    text-align: center;
    color: #254d16;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.container-grid form > p{
    margin-bottom: 1rem;
    text-align: center;
}
.container-grid form > input{
    width: 100%;
    margin-bottom: 1rem;
    background: rgba(122, 189, 83, 0.658);
    border: none;
    padding: 0.5rem 0;
}
.enviar-boton:hover{
    background: rgba(122, 189, 83, 0.932);
}

/* FOOTER */
footer{
    background: #5b943a;
    width: 100%;
    height: 10rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
footer a{
    display: flex;
    align-self: center;
}
footer a img{
    width: 1rem;
}

@media (min-width: 768px){
    .container-grid{
        gap: 10px;
    }
    .nav-list ul{
        justify-content: space-around;
    }
    .main {
        text-align: center;
    }
    .article-01,
    .article-02,
    .article-03,
    .article-04{
        grid-column: 2/4;
    }
    .article-02{
        grid-column: 4/6;
    }
    .article-04{
        grid-column: 4/6;
    }
    .container-grid form{
        width: 100%;
        grid-column: 3/5;
        justify-self: center;
        border: 1px solid rgba(32, 160, 64, 0.445);
        padding: 1rem 3rem;
    }

}